---
interface Props {
  title: string;
  description?: string;
  image?: string;
}
const {
  title,
  description = "Project Siracusa Oficial Website",
  image = "/preview.jpg",
} = Astro.props;

const canonicalUrl = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/logo.svg" />
		<link rel="canonical" href={canonicalUrl} />
		<meta name="generator" content={Astro.generator} />

		<!-- Open Graph -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={new URL(image, Astro.url)} />
		<meta name="theme-color" content="#a91c1c">

		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	/* @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap'); */
	@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
	html {
		font-family: "Urbanist", sans-serif;
		background: #0e0e0e;
		color: white;
		width: 100%;
	}
	h1 {
		font-family: "Lobster", sans-serif;
	}
</style>
